<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>{{time}}</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem reprehenderit consequatur reiciendis optio rerum eligendi dicta perferendis commodi rem, magnam explicabo quasi excepturi ab consectetur, accusantium illo voluptatem eius id.
    Laborum deserunt velit corrupti provident odio, veritatis, ipsam minus, quae eligendi culpa cupiditate maxime in voluptatum. Ipsa laudantium possimus corporis quod ex, repellat aspernatur ipsam odit quis dolorem quas vel?</p>
</body>
</html>



