<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Money</title>
</head>
<body>
    <div id="container">
        <p>Your Money: {{request.session.gold}}</p>
        
        <form action="/process_money" method="POST" class="location">
            {% csrf_token %}
            <h4>FARM</h4>
            <p>(Earn 10-20 GOLD)</p>
            <input type="hidden" name="location" value="farm">
            <input type="submit" value="Find Gold!">
        </form>

        <p>Activities:</p>
        <div>
            <p>Earned {{GOLDTHISTURN} from this {{LOCATION} {{DATE}}</p>
        </div>
    </div>
</body>
</html>