<!DOCTYPE html>
<html lang="en" class="bg-info">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="shadow-lg p-3 mb-5 rounded m-4">
    <div class="shadow-lg p-3 mb-5 rounded m-4">
        <form action="/update_interview_dets/{{interview.id}}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Interviewer Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = 'update_interviewer_name'>
                      </div>
                      <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Interviewer Email</label>
                          <input type="text" class="form-control" id="exampleInputPassword1" name="update_interviewer_email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Interviewer Phone</label>
                          <input type="text" class="form-control" id="exampleInputPassword1" name="update_interviewer_phone">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Interview Date</label>
                          <input type="date" class="form-control" id="exampleInputPassword1" name="update_interview_date">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Questions Asked</label>
                          <textarea class="form-control" aria-label="With textarea" name="update_questions_asked"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Questions To Ask</label>
                          <textarea class="form-control" aria-label="With textarea" name="update_questions_to_ask"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Follow Up Date</label>
                          <input type="date" class="form-control" id="exampleInputPassword1" name="update_interview_follow_up">
                        </div>
                    <div>
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
    </div>
    
</body>
</html>