<!DOCTYPE html>
<html lang="en" class="bg-info">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="shadow-lg p-3 mb-5 bg-body rounded m-4">
    <nav class="navbar navbar-light bg-light m-4 shadow-lg">
        <button type="button" class="btn btn-outline-success m-2" data-bs-toggle="modal" data-bs-target="#add_resume">
            Add Resume Details
        </button>
        <a href="/logout"><button type="button" class="btn btn-outline-dark m-2">Logout</button></a>
        <div class="modal fade" id="add_resume" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Resume Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/add_resume_dets/{{company.id}}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Location</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = 'location'>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Position Applied</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="position">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contact Name/Title</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="contact_name">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contact Email</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="contact_email">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contact Phone #</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="contact_phone">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Date Submitted</label>
                            <input type="date" class="form-control" id="exampleInputPassword1" name="submitted">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Follow Up Date</label>
                            <input type="date" class="form-control" id="exampleInputPassword1" name="follow_up">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Skills Needed</label>
                            <textarea class="form-control" aria-label="With textarea" name="skills"></textarea>
                          </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                          </div>
                      </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </nav>
    <div class="m-3">
        <h1 class="m-3">{{company.company}}</h1>
    </div>
    {% for resume in company.company_connection.all %}
    
    <div class="ms-4 shadow-lg border rounded">
        <h4 class="m-3">Position</h4>
        <p class ="m-3">{{resume.job_title}}</p>
        <h4 class="m-3">Poster Name/Title</h4>
        <p class ="m-3">{{resume.poster_name}}</p>
        <h4 class="m-3">EMAIL</h4>
        <p class ="m-3">{{resume.poster_email}}</p>
        <h4 class="m-3">Phone Number</h4>
        <p class ="m-3">{{resume.poster_number}}</p>
        <h4 class="m-3">Submission Date/Time</h4>
        <p class ="m-3">{{resume.date_submitted}}</p>
        <h4 class="m-3">Location</h4>
        <p  class="m-3">{{resume.location}}</p>
        <h4 class="m-3">Skills Needed</h4>
        <p class ="m-3">{{resume.skills}}</p>
        <h4 class="m-3">Follow up date/Thank You</h4>
        <p class ="m-3">{{resume.follow_up}}</p>
        <div class="d-flex flex-row">
            <a href="/edit_resume_dets/{{resume.id}}"><button type="button" class="btn btn-outline-warning m-2">Edit Details</button></a>
            <a href="/delete/{{resume.id}}"><button type="button" class="btn btn-outline-danger m-2">Delete</button></a>
            <a href="/interview_dets/{{resume.id}}" class="btn btn-outline-success m-2">Add Interview Details</a></td>
        </div>
    </div>
    {% endfor %}
        
    
</body>
</html>