<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users With Templates</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>All the Users</h1>

    <div class="table">
        <table>
            <tr>
                <th>ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>EMAIL</th>
                <th>AGE</th>
            </tr>
            {% for user in all_users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.e_mail}}</td>
                <td>{{user.age}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
        <hr>
        <h1>Add User</h1> 
            <form action="/add_user" method="POST">
                {% csrf_token %}
                    <label for="first_name">First Name:</label>
                    <input type="text" name='first_name'>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name='last_name'>
                    <label for="email">Email:</label>
                    <input type="email" name="e_mail">
                    <label for="age">Age:</label>
                    <input type="number" name="age">
                    <button type="submit" value="submit">Add User</button>
            </form>
    
</body>
</html>