<!DOCTYPE html>
<html lang="en" class="bg-info">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="shadow-lg p-3 mb-5 bg-body rounded m-4">
    <nav class="navbar navbar-light bg-light m-4 shadow-lg">
      <div>
      <a href="/main_page"><button type="button" class="btn btn-outline-primary m-2">All Companies</button></a>
        <button type="button" class="btn btn-outline-success m-2" data-bs-toggle="modal" data-bs-target="#add_interview_dets">
            Add Interview Details
        </button>
      </div>
        <a href="/logout"><button type="button" class="btn btn-outline-dark m-2">Logout</button></a>
        <div class="modal fade" id="add_interview_dets" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Interview Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/add_interview_dets/{{resume.id}}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Interviewer Name</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = 'interviewer_name'>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Interviewer Email</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="interviewer_email">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Interviewer Phone</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="interviewer_phone">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Interview Date</label>
                            <input type="date" class="form-control" id="exampleInputPassword1" name="interview_date">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Questions Asked</label>
                            <textarea class="form-control" aria-label="With textarea" name="questions_asked"></textarea>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Questions To Ask</label>
                            <textarea class="form-control" aria-label="With textarea" name="questions_to_ask"></textarea>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Follow Up Date</label>
                            <input type="date" class="form-control" id="exampleInputPassword1" name="interview_follow_up">
                          </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                          </div>
                      </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </nav>
    <div class="m-3">
        <h1 class="m-3">{{company.company}}</h1>
    </div>
    {% for interview in resume.resume_connection.all %}
    
    <div class="m-4 shadow-lg border rounded">
      
        <h4 class="m-3">Interviewer Name/Title</h4>
        <p class ="m-3">{{interview.interviewer_name}}</p>
        <h4 class="m-3">Interviewer Email</h4>
        <p class ="m-3">{{interview.interviewer_email}}</p>
        <h4 class="m-3">Phone Number</h4>
        <p class ="m-3">{{interview.interviewer_phone}}</p>
        <h4 class="m-3">Interview Date/Time</h4>
        <p class ="m-3">{{interview.interview_date}}</p>
        <h4 class="m-3">Questions Asked</h4>
        <p  class="m-3">{{interview.questions_asked}}</p>
        <h4 class="m-3">Questions to Ask</h4>
        <p class ="m-3">{{interview.questions_to_ask}}</p>
        <h4 class="m-3">Follow up date/Thank You</h4>
        <p class ="m-3">{{interview.interview_follow_up}}</p>
        <div class="d-flex flex-row">
            <a href="/edit_interview_dets/{{interview.id}}"><button type="button" class="btn btn-outline-warning m-2">Edit Interview Details</button></a>
        </div>
        
      </div>
  
      {% endfor %}
   
    
</body>
</html>