<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'all_books.css' %}">
</head>
<body>
    <div class="header">
        <h1>Welcome: {{this_user.first_name}}</h1>
        <a href="/logout">Logout</a>
    </div>
    <hr>
    <div id="content">
        <div>
            <form action="/add_book" method="POST">
            {% csrf_token %}
                <div class="input">
                    <h1>Add Favorite Book</h1>
                </div>
                <div class="input">
                    <label for="">Title</label>
                    <input type="text" name="title">
                </div>
                <div class="input">
                    <label for="">Description</label>
                    <input type="text" name="description">
                </div>
                <div id="button" >
                    <button>Submit</button>
                </div>
            </form>
            <ul>
                {% if messages %}    
                    {% for message in messages %}    
                        <li>{{ message }}</li>    
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div>
            <div>
                <h2>Favorited Books</h2>
                {% for book in all_books %}
                    {% if this_user in book.favorite_by.all %}
                    <a href="#">{{book.title}}</a>
                    <p>(Upload by:{{book.creator.first_name}}  {{book.creator.last_name}})</p>
                    <p>{{book.description}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <h2>Other Books</h2>
                {% for book in all_books %}
                    {% if this_user not in book.favorite_by.all %}
                    <a href="#">{{book.title}}</a>
                    <p>(Upload by:{{book.creator.first_name}}  {{book.creator.last_name}})</p>
                    <p>{{book.description}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>