<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEP Logo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="header sm-4 med-2 lg-2">
        <div id="logo">
            <div class="line">
            </div>
            <div id="beyond" >
                <h3>BEYOND THE</h3>
            </div>
            <div id="iep">
                <h1>IEP</h1>
            </div>
            <div id="text">
                <p>TRAINING FOR BEFORE AND AFTER IEP MEETINGS</p>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div data-aos="fade-right" class ="content sm-4">
        <div class="col paragraph med-2 sm-4 lg-4" >
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, explicabo commodi animi molestias odit vero ipsam, repellendus eius magnam laborum tenetur quisquam incidunt debitis aperiam ab qui consequuntur quis unde.</p>
        </div>
        <div data-aos="fade-left" class="col image med-2 sm-4 lg-4">
            <img src="" alt="">
        </div>

    </div>
    <div data-aos="zoom-in" class="header sm-4">
        <div id="logo">
            <div class="line">
            </div>
            <div id="beyond" >
                <h3>BEYOND THE</h3>
            </div>
            <div id="iep">
                <h1>IEP</h1>
            </div>
            <div id="text">
                <p>TRAINING FOR BEFORE AND AFTER IEP MEETINGS</p>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init({
        duration: 2000,
    }); </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</html>
</html>