<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEP Logo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
</head>
<body>
    <div class="header">
        <div id="logo">
            <div class="line">
            </div>
            <div id="beyond" >
                <h3>BEYOND THE</h3>
            </div>
            <div id="iep">
                <h1>IEP</h1>
            </div>
            <div id="text">
                <p>TRAINING FOR BEFORE AND AFTER IEP MEETINGS</p>
            </div>
            <div class="line">
            </div>
        </div>
    </div>
    <div class ="content sm-4">
        <div class="col sm-4 med-2 content_paragraph">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, laborum quaerat, harum rem deleniti esse alias eos ipsum possimus voluptatibus nobis necessitatibus voluptate delectus doloremque corrupti sunt perspiciatis fugiat voluptatum!
                Ab numquam, quos recusandae quod corporis, optio dolores consequuntur ipsam quaerat architecto est repudiandae error eveniet? Quas enim amet praesentium. At odit quo suscipit eaque recusandae numquam possimus magni aut!
                A aspernatur amet, voluptatem labore exercitationem eos eum. Nam ut, quasi velit tempora ipsa, fugiat, suscipit voluptatibus praesentium rerum placeat ratione alias illum. Omnis, dolor voluptas? Molestias rerum asperiores eaque?
            </p>
        </div>
        <div class="col sm-4 med-2 image">
            <img id="content_image" src="" alt="">
        </div>
    </div>
    
</body>
</html>
</html>