#cash{
    display: flex;
}

#cashbox{
    border-radius: 10px;
    border: black solid 2px;
    height: 25px;
    width: 200px;
}

.tasks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

#farm,#cave,#house,#casino{

    border-radius: 10px;
    border: black solid 2px;
    height:fit-content;
    width: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

#terminal{
    border-radius: 10px;
    border: black solid 2px;
    width: 1400px;
    height: 400px;
    margin-top: 10px;
}

#terminal-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h4{
    margin-left: 200px;
}