*{
    margin: 0;
    padding: 0;
}
#container{
    margin: 0 auto;
    width: 970px;
}
.location{
    height: 150px;
    width: 150px;
    display: inline-block;
    border: 3px solid black;
}
#activities{
    border: 3px solid black;
    width: 800px;
    height: auto;

}
.green{
    color: green;
}
.red{
    color: red;
}