<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <div id="add_author">
            <h1>Add Author</h1>
            <form action="/add_author" method="POST">
                {% csrf_token %}
                <label for="first_name">First Name</label>
                <input type="text" name="first_name">
                <br>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name">
                <br>
                <label for="notes">Notes</label>
                <textarea name="notes" id="" cols="30" rows="10"></textarea>
                <br>
                <button type="submit">Add</button>
            </form>
        </div>
        <div id="book_views">
            <table>
                <tr>
                    <th>ID</th>
                    <th>AUTHOR</th>
                    <th>ACTION</th>
                </tr>
                {% for author in authors.all %}
                <tr>
                    <td>{{author.id}}</td>
                    <td>{{author.first_name}} {{author.last_name}}</td>
                    <td><a href="/view_author/{{author.id}}">VIEW</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="/"> Book List</a>
    </div>

</body>
</html>