<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <div>
        <h1>Title:{{book.title}}</h1>
        <h2>ID:{{book.id}}</h2>
        <div>
            <h3>Description:</h3>
            <p>{{book.description}}</p>
        </div>
        <div>
            <h3>Authors:</h3>
            <ul>
                {% for author in book.authors.all %}
                <li>{{author.first_name}} {{author.last_name}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <form action="/" method="POST">
                {% csrf_token %}
                <select name="authors" id="authors">
                    {% for author in authors.all %}
                    <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Add Author</button>
            </form>
            
        </div>
    </div>


</body>
</html>