<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <div id="add_book">
            <h1>Add Book</h1>
            <form action="/create_book" method="POST">
                {% csrf_token %}
                <label for="title">Title</label>
                <input type="text" name="title">
                <br>
                <label for="description">Description</label>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
                <br>
                <button type="submit">Add</button>
            </form>
        </div>
        <div id="book_views">
            <table>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>ACTION</th>

                </tr>
                {% for book in books %}
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td><a href="/view_book/{{book.id}}">VIEW</a></td>
                    <td><a href="/delete_book/{{book.id}}">REMOVE</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="/author_list"><button type="button">author list</button></a>
    </div>

</body>
</html>