<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit User!</h1>
    <form action="/update"  method="POST">
            <h1>Edit {{user.first_name}} {{user.last_name}}</h1>
            <!-- Dont forget the hidden input for the user id-->
            <input type="hidden" name="id" value="{{user.id}}">
            <div>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" value="{{user.first_name}}">
            </div>
            <div>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" value="{{user.last_name}}">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" value="{{user.email}}">
            </div>
            <div>
                <button type="submit" value="update_user">Edit User</button>
            </div>
    </form>
</body>
</html>