<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Details</title>
</head>
<body>
    <div></div>
        <h1>TV SHOW:{{show.id}}</h1>
        <h2>TITLE:{{show.title}}</h2>
        <h2>NETWORK:{{show.network}}</h2>
        <h2>RELEASE DATE:{{show.release_date}}</h2>
        <h2>Description:</h2>
        <p>{{show.description}}</p>
    </div>
    <div>
        <h3>Last Updated At:{{show.updated_at}}</h3>
        <a href="/edit_show/{{show.id}}">Edit</a>|<a href="/remove_show/{{show.id}}">Delete</a>
    </div>


</body>
</html>